body {
    margin: 0 auto;
    width:375px;
    background: #EDEDED;
    font-size: 13px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* typography */

#name {
font-weight: 700;
margin-bottom: -10px;
}

#location {
text-align: center;
font-weight: 400;
font-size: 12px;
}

.likes, #username {
    font-weight: 700;

}

.comments {
    margin-top: 12px;
    padding-bottom: 5px;
}

/* layout */

main, header {
    background: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    border-bottom: 1px solid #C6C6C6;
} 

#content {
    border-bottom: 25px solid #EDEDED;
}

.logo {
    width:127px;
    height: 33.02;
    margin-left: 10px;
}

.user-avatar, #avatar{
    width: 34px;
    height: 34px;
    border-radius: 100px;
}

.user-avatar {
    margin-right: 16px;
}

#avatar {
    margin-left: 10px;
}

.container {
    display: flex;
    align-items: center;
    height: 55px;
}

.post-container {
    margin-left: 10px;
}

.post {
    height: 375px;
    width:375px;
}

.feed-container {
    margin-left: 10px;
}

.likes { 
    margin-top: -5px;
}

/* buttons */

.feed-btn {
    width: 24.3px; 
    height: 23.13px;
    margin: 16px 10px 11.87px 0px;
    background-size:contain;
    background-repeat: no-repeat;
    border: none;
    background-color: #fff;
}

.feed-btn:hover {
    opacity: 150%;
}

.like-btn {
    background-image: url(/images/icon-heart.png);
} 

.liked:focus, .like-btn:hover {
    background-image: url(/images/icon-heart-red.png);
}

#comment-btn {
    background-image: url(/images/icon-comment.png);
} 

#comment-btn:focus, #comment-btn:hover {
    background-image: url(/images/icon-comment-green.png);
}

#dm-btn {
    background-image: url(/images/icon-dm.png);
} 

#dm-btn:focus, #dm-btn:hover {
    background-image: url(/images/icon-dm-blue.png);
}

